<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <title>大气腐蚀数据管理系统</title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/subcon.css"/>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
    <!--[if lt IE 9]>
    <script src="js/html5.js"  type="text/javascript"></script>
    <![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/choose.js"></script>
    <script src="js/name.js"></script>
    <script type="text/javascript" src="js/comm.js"></script>
    <script type="text/javascript" src="js/jq.js"></script>
</head>

<body>
<!--header开始-->
<header class="header">
    <section class="top1">
        <div class="top1_w pr">
            <div class="mbtn"><img src="images/nav.jpg"/></div>
            <div class="top1_lf pa"><a href="http://www.ustb.edu.cn/">学校主页</a><a href="http://saee.ustb.edu.cn/">学院主页</a></div>
            <div class="search" align="right" style="margin-left: -265px;">
                <form class="form-signin" role="form" name="form" th:action="@{/logout}" method="post">
                    <div class="form-group">
                        <label>您的身份是：管理员</label>
                        <input type="submit" class="btn3" value="注销" onclick="return wc();" />
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="navm">
        <ul>
            <li><a th:href="@{/Homepage}">首页</a></li>
            <li class="sub_has"><a href="javascript:;">系统概述<span><img src="images/snav_icon1.png"/></span></a>
                <dl>
                    <dd><a th:href="@{/SysIntroduction}">系统介绍</a></dd>
                    <dd><a th:href="@{/SysFrame}">系统结构</a></dd>
                    <dd><a th:href="@{/SysFunction}">系统功能</a></dd>
                    <dd><a th:href="@{/SysSense}">系统意义</a></dd>
                </dl>
            </li>

            <li class="sub_has"><a href="javascript:;">数据查询<span><img src="images/snav_icon1.png"/></span></a>
                <dl>
                    <dd><a th:href="@{/LocationInfo}">地点信息</a></dd>
                    <dd><a th:href="@{/AreaInfo}">区域信息</a></dd>
                    <dd><a th:href="@{/DeviceInfo}">设备信息</a></dd>
                    <dd><a th:href="@{/ProbeInfo}">探针信息</a></dd>
                    <dd><a th:href="@{/CorrosionInfo}">腐蚀信息</a></dd>
                </dl>
            </li>

            <li class="sub_has"><a href="javascript:;">数据管理<span><img src="images/snav_icon1.png"/></span></a>
                <dl>
                    <dd><a th:href="@{/DataManage_LocationName}">地点信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_AreaName}">区域信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_DeviceInfo}">设备信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_ProbeInfo}">探针信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_CorrosionInfo}">腐蚀信息管理</a></dd>
                </dl>
            </li>

            <li><a href="#">ISO标准</a></li>
            <li><a href="#">联机帮助</a></li>

            <!--li class="sub_has"><a href="javascript:;">ISO标准<span><img src="images/snav_icon1.png"/></span></a>
                <dl>
                    <dd><a href="#">数据地图</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                </dl>
            </li>

            <li class="sub_has"><a href="javascript:;">联机帮助<span><img src="images/snav_icon1.png"/></span></a>
                <dl>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                </dl>
            </li-->
        </ul>
    </div>
    <section class="top2">
        <div class="top2_w pr">
            <div class="logo"><a href="#"><img src="images/logo5.png"/></a></div>
        </div>
    </section>
    <nav class="nav" id="nav">
        <ul>
            <li><div><a th:href="@{/Homepage}">首页</a></div></li>
            <li>
                <div><a href="#">系统概述</a></div>
                <dl>
                    <dd><a th:href="@{/SysIntroduction}">系统介绍</a></dd>
                    <dd><a th:href="@{/SysFrame}">系统结构</a></dd>
                    <dd><a th:href="@{/SysFunction}">系统功能</a></dd>
                    <dd><a th:href="@{/SysSense}">系统意义</a></dd>
                </dl>
            </li>
            <li>
                <div><a href="#">数据查询</a></div>
                <dl>
                    <dd><a th:href="@{/LocationInfo}">地点信息</a></dd>
                    <dd><a th:href="@{/AreaInfo}">区域信息</a></dd>
                    <dd><a th:href="@{/DeviceInfo}">设备信息</a></dd>
                    <dd><a th:href="@{/ProbeInfo}">探针信息</a></dd>
                    <dd><a th:href="@{/CorrosionInfo}">腐蚀信息</a></dd>
                </dl>
            </li>
            <li>
                <div><a href="#">数据管理</a></div>
                <dl>
                    <dd><a th:href="@{/DataManage_LocationName}">地点信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_AreaName}">区域信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_DeviceInfo}">设备信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_ProbeInfo}">探针信息管理</a></dd>
                    <dd><a th:href="@{/DataManage_CorrosionInfo}">腐蚀信息管理</a></dd>
                </dl>
            </li>
            <li>
                <div><a href="#">ISO标准</a></div>
                <!--dl>
                    <dd><a href="#">数据地图</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                </dl-->
            </li>
            <li>
                <div><a href="#">联机帮助</a></div>
                <!--dl>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                    <dd><a href="#">二级栏目</a></dd>
                </dl-->
            </li>
        </ul>
    </nav>
</header>
<!--header结束 -->
<div class="wraq_content">
    <div class="wraq_pg">
        <div class="page_banner" style="background-image:url('images/page_banner3.jpg');"></div>
        <div class="page_main">
            <div class="page_con">
                <div class="pg_rt">
                    <div class="menu">
                        <div class="menu_tit"><h2>数据查询</h2></div>
                        <ul>
                            <li class=""><a th:href="@{/LocationInfo}">地点信息</a></li>
                            <li class=""><a th:href="@{/AreaInfo}">区域信息</a></li>
                            <li class=""><a th:href="@{/DeviceInfo}">设备信息</a></li>
                            <li class="active"><a th:href="@{/ProbeInfo}">探针信息</a></li>
                            <li class=""><a th:href="@{/CorrosionInfo}">腐蚀信息</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pg_lf">
                    <div class="pg_lf_main">
                        <div class="pg_rt_tit">
                            <div class="Bread">
                                <a th:href="@{/Homepage}">首页</a> / <a th:href="@{/LocationInfo}">数据查询</a> / <a th:href="@{/ProbeInfo}">探针信息</a>
                            </div>
                            <h2>探针信息</h2>
                        </div>
                        <div class="pg_rt_con">
                            <div class="news_list">
                                <ul >
                                    <li>
                                        <form th:action="@{/ProbeInfo/find}" style="margin-left:15px" method="get">
                                            <select id="select" name="locationname" onchange="setSelectCollege()">
                                                <option value="0" disabled="disabled" selected="selected">--地点--</option>
                                                <option th:each="locationNameLists:${session.locationNameLists}" th:value="${locationNameLists.locationName}"
                                                        th:text="${locationNameLists.locationName}" />
                                            </select>
                                            <select id="area" name="areaname" onchange="setSelectDevice()">
                                                <option value="0" disabled="disabled" selected="selected">--区域--</option>
                                            </select>
                                            <select id="device" name="deviceid" onchange="getDeviceId()">
                                                <option value="0" disabled="disabled" selected="selected">--设备--</option>
                                            </select>
                                            <input class="divblock" name="locationtitle" id="input1"/>
                                            <input class="divblock" name="areatitle" id="input" />
                                            <input class="divblock" name="devicetitle" id="input2" />
                                            <button class="btn1" type="submit">查询</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<article class="footer_W">
    <div class="footer">
        <div class="footer_mr">
            <div class="footer_lf">
                <div class="footer_text">
                    <span>版权所有 © 北京科技大学自动化学院&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span>地址：北京市海淀区学院路30号&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span>邮编：100083&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span>今日访问量 10000 位</span>
                </div>
            </div>
            <div class="footer_rt">
                <div class="download">
                    <a href="#"><img src="images/download.jpg"/></a>
                </div>
                <div class="weixin">
                    <img src="images/weixin.jpg"/>
                    <span>官方<br>微信</br></span>
                </div>
                <div class="weixin">
                    <img src="images/weixin.jpg"/>
                    <span>官方<br>微信</br></span>
                </div>
            </div>
        </div>
    </div>
</article>

<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>

<!-- 焦点图切换JS -->
<script src="js/responsiveslides.min.js"></script>
<script type="text/javascript" src="js/content.js"></script>


<script type="text/javascript">
    Menu('.mbtn','.navm');
    nav();  //下拉菜单

    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            pager: false,
            timeout: 6000,
            nav: true,
            speed: 500,
            pager:true,
            // 对应外层div的class : slide_container
            namespace: "slide"
        });
    });
</script>

</body>
</html>
